/* GENERAL */
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  background: #FFF;
}
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
header, main, #no-results, footer {
  max-width: 1200px;
  margin: 0 auto;
}
main {
  min-height: 360px;
}
#left-column {
  display: none;
  float: left;
  width: 23%;
}
#right-column {
  position: relative;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

/* INPUT */
header {
  position: relative;
  height: 100px;
  z-index: 100;
}

header .logo{
  display: none;
  position: absolute;
  top: 9px;
  left: 0;
  float: left;
  max-width: 23%;
}
#search-input {
}
#search-input input {
  font-size: 28px;
  font-weight: 100;
  border: none;
  padding: 10px 10px 10px 35px;
  border-bottom: 5px solid #eee;
  border-radius: 0px;
}

#search-input svg {
  width: 18px;
  height: 18px;
  fill: #eee;
}

.ais-search-box--reset {
  top: 18px;
  right: 8px;
}
.ais-search-box--loading-indicator-wrapper {
  left: 8px;
  top: 17px;
}
.ais-search-box--magnifier {
  top: 18px;
  left: 8px;
}
#search-input input, #search-input input:focus {
  transition: border-color .3s ease-in;
  outline: 0;
  color: #eee;
  background: #000;
}
#search-input input:focus {
  border-color: #ed5565;
}

#search-input input::-webkit-input-placeholder, #search-input input:-moz-placeholder, #search-input input:-moz-placeholder, #search-input input:-ms-input-placeholder {
  font-weight: 100;
  color: #999;
}

/* facet filters */
.filters {
  background: #eee;
  padding: 10px 0;
}

.filters .facet {
  padding: 5px;
  margin-bottom: -10px;
}

.filters .filter-menu {
  display: inline;
  background: #eee;
  border: none;
  font-size: 110%;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.filters .filter-menu:after{
  content: ' \25BC';
  font-size: 80%;
  display: inline-block;
  width: 20px;
  text-align: right;
}

.filters .filter-menu.active {
  background: #ddd;
}

.filters .filter-menu.active:after{
  content: ' \274C';
  font-size: 70%;
  vertical-align: bottom;
}

.ais-header {
  display: none;
}

.ais-search-box {
  max-width: 100%;
}

/* HITS */
.ais-infinite-hits {
  margin: 4px 0;
  padding: 0;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ais-infinite-hits--item {
  width: 50vw;
  height: 50vw;
}
@media (min-width: 600px) {
  .ais-infinite-hits--item {
    width: 33.3vw;
    height: 33.3vw;
  }
}
@media (min-width: 900px) {
  .ais-infinite-hits--item {
    width: 25vw;
    height: 25vw;
  }
}
@media (min-width: 1200px) {
  .ais-infinite-hits--item {
    width: 300px;
    height: 300px;
  }
}
.poster {
  overflow: hidden;
}
.hit-image {
  display: inline-block;
}
.hit-image img {
  max-width: 100%;
}
.hit-content {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 83%;
  margin-left: 1%;
  vertical-align: top;
}
.hit-content .hit-price {
  font-size: 20px;
  float: right;
  margin-left: 20px;
  color: #ed5565;
}
.hit-content .hit-price, .hit-content .hit-name {
  font-weight: normal;
  margin-top: 0;
}
.hit-content em {
  font-style: normal;
  background: #fbdde0;
}
.hit-content .hit-description {
  color: #999;
}

.ais-infinite-hits--showmore {
  text-align: center;
  padding-top: 10px;
}
.ais-infinite-hits--showmore button {
  font-size: 18px;
  width: 150px;
  background: #fff;
  border: 1px solid #000;
}

/* PAGINATION */
#pagination {
  margin-top: 60px;
}
#pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center;
}
#pagination li {
  font-size: 14px;
  display: inline;
}
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
}
#pagination a:hover {
  background: #f5f5f5;
}
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #ed5565;
  background: #ed5565;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

/* SORT BY */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999;
}

#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;

  top: 8px;
  right: 0;

  width: 0;
  height: 0;

  margin-left: 2px;
  vertical-align: middle;

  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  pointer-events: none;
}

/* STATS */
#stats {}

.ais-stats--body {
  padding: 0 5px 3px 5px;
}

#stats .ais-stats--time {
  font-size: 0.8em;
  color: #999;
}

/* FACETS */
.filters{
}

.facet {
  display:none;
  margin-top: 5px;
}
.facet.show {
  display: block;
  background: #ddd;
}
.facet h5 {
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
}
.facet ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.facet li {
  margin-bottom: 3px;
}
.ais-refinement-list--label,
.ais-menu--link {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.ais-refinement-list--label:hover, .ais-refinement-list--item__active .ais-refinement-list--label,
.ais-menu--link:hover, .ais-menu--item__active .ais-menu--link {
  color: #ed5565;
}
.ais-refinement-list--item__active .ais-refinement-list--label:hover,
.ais-menu--item__active .ais-menu--link:hover {
  text-decoration: line-through;
  color: #ed5565;
}
.ais-refinement-list--count,
.ais-menu--count {
  position: relative;
  top: 3px;
  float: right;
  color: #999;
}

#type.facet .ais-refinement-list--checkbox {
  display: none;
}

/* NO RESULTS */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none;
}
#no-results-message {
  text-align: center;
}
#no-results-message p {
  font-size: 28px;
  font-weight: 100;
}
#no-results-message ul {
  list-style-type: none;
}
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}
#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}
#no-results-message li a.remove:hover img {
  opacity: 1;
}
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999;
}

/* SLIDER */
.ais-range-slider--target {
  margin: 40px 30px 40px 0;
  font-size: 13px;
}

.ais-range-slider--connect {
  background: #ed5565;
}

.ais-range-slider--handle {
  border-color: #ed5565;
}

.ais-infinite-hits--showmore {
  padding-top: 50px;
}

/* FOOTER */
footer {
  font-size: 14px;
  margin: 50px 0 0 0;
  padding: 50px 0;
  text-align: center;
  background: #000;
  color: #fff;
  width: 100%;
  max-width: 100%;
  line-height: 28px;
}
footer a {
  text-decoration: none;
  color: #ed5565;
}
footer a:hover {
  text-decoration: underline;
  color: #ed5565;
}

/* Main button action */
.btn-main-action {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 3em;
  width: 3em;
  border-radius: 3em;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #F33;
  display: flex;
  box-shadow: rgba(0,0,0,.6) 0px 0px 7px;
}

@media (min-width: 1200px) {
  .btn-main-action {
    display: none;
  }
}

.btn-main-action img {
  width: 50%;
  height: 50%;
  flex-grow: 1;
  align-self: center;
}

.btn-main-action.visible {
  transform: scale(1);
}

.ais-search-box--powered-by {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .5em;
}
